In [1]:
# installing faker using pip to generate the data

#pip install faker

In [2]:
# importing Faker from faker library

from faker import Faker

In [3]:
#importing the required liabraries

import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random

In [4]:
# defining the fields/columns of the customer_master table

customer_fields = ['customerid', 'name', 'address', 'city', 'state', 'pincode', 'update_timestamp']

In [5]:
#list of states and the respective cities in which the company is operating

states = {
           'Karnataka'      : ['Bengaluru', 'Mangaluru', 'Mysuru', 'Raichur'],
           'Maharashtra'    : ['Ahmednagar', 'Mumbai', 'Nagpur', 'Pune'],
           'Odisha'         : ['Bhubaneswar', 'Cuttack', 'Rourkela'],
           'Tamil Nadu'     : ['Chennai', 'Coimbatore', 'Madurai'],
           'Telangana'      : ['Hyderabad', 'Nizamabad', 'Warangal'],
           'Uttar Pradesh'  : ['Agra', 'Kanpur', 'Lucknow']
    
}

In [6]:
# framing the customer_master table using 1000 unique customer records

customer_master = pd.DataFrame(columns=customer_fields, index=range(1,1001))
Faker.seed(42)           # using a seed to generate the same data again and again
random.seed(42)          # using a seed to generate the same data again and again 
fake = Faker('en_IN')    # generating data that is relevant to India

for i in range(1,1001):
    customer_master['customerid'][i] = i
    customer_master['name'][i] = fake.name()
    customer_master['address'][i] = fake.street_address()
    customer_master['state'][i] = fake.random_element(states.keys())
    customer_master['city'][i] = fake.random_element(states[customer_master['state'][i]])
    customer_master['pincode'][i] = fake.postcode()
    customer_master['update_timestamp'][i] = fake.date_time_this_year()

In [7]:
# checking for the number of unique values in each of the columns

customer_master.nunique()

customerid          1000
name                 995
address             1000
city                  20
state                  6
pincode              999
update_timestamp    1000
dtype: int64

In [8]:
customer_master.head()

,customerid,name,address,city,state,pincode,update_timestamp
1,1,Anay Shanker,321\nBassi Circle,Nizamabad,Telangana,013389,2023-01-11 07:19:59
2,2,Saanvi Sachar,794\nSibal Nagar,Pune,Maharashtra,423511,2023-05-28 13:10:44
3,3,Taimur Vaidya,40/78\nGulati Zila,Mysuru,Karnataka,931034,2023-01-31 23:42:54
4,4,Divyansh Gupta,52\nGoel Path,Nagpur,Maharashtra,928327,2023-05-28 08:46:51
5,5,Navya Sankaran,"50/305, Desai Marg",Mangaluru,Karnataka,376724,2023-02-24 05:26:56

In [9]:
customer_master = customer_master.reset_index(drop=True)

In [10]:
customer_master.head()

,customerid,name,address,city,state,pincode,update_timestamp
0,1,Anay Shanker,321\nBassi Circle,Nizamabad,Telangana,013389,2023-01-11 07:19:59
1,2,Saanvi Sachar,794\nSibal Nagar,Pune,Maharashtra,423511,2023-05-28 13:10:44
2,3,Taimur Vaidya,40/78\nGulati Zila,Mysuru,Karnataka,931034,2023-01-31 23:42:54
3,4,Divyansh Gupta,52\nGoel Path,Nagpur,Maharashtra,928327,2023-05-28 08:46:51
4,5,Navya Sankaran,"50/305, Desai Marg",Mangaluru,Karnataka,376724,2023-02-24 05:26:56

### Product Table

In [11]:
# defining the fields/columns of the product_master table

product_fields = ['productid', 'productcode', 'productname', 'sku', 'rate', 'isactive']

In [12]:
# listing down the brands and their products to make a list of 50 different products

product_brands = ['HUL', 'ITC', 'Amul', 'Pro Nature', 'Pure and Sure']
product_types = ['wheat flour', 'honey', 'fruits', 'grains', 'essential oils', 'gram flour',
                 'foxnut', 'biscuits', 'oats', 'cornflakes']

In [13]:
# making 50 different products by concatinating the brands along with the product types 

productname = ((a,b) for a in product_brands for b in product_types)
productlist=[]
for a,b in productname:
    productlist.append(a+ ' '+b)
print(productlist)

['HUL wheat flour', 'HUL honey', 'HUL fruits', 'HUL grains', 'HUL essential oils', 'HUL gram flour', 'HUL foxnut', 'HUL biscuits', 'HUL oats', 'HUL cornflakes', 'ITC wheat flour', 'ITC honey', 'ITC fruits', 'ITC grains', 'ITC essential oils', 'ITC gram flour', 'ITC foxnut', 'ITC biscuits', 'ITC oats', 'ITC cornflakes', 'Amul wheat flour', 'Amul honey', 'Amul fruits', 'Amul grains', 'Amul essential oils', 'Amul gram flour', 'Amul foxnut', 'Amul biscuits', 'Amul oats', 'Amul cornflakes', 'Pro Nature wheat flour', 'Pro Nature honey', 'Pro Nature fruits', 'Pro Nature grains', 'Pro Nature essential oils', 'Pro Nature gram flour', 'Pro Nature foxnut', 'Pro Nature biscuits', 'Pro Nature oats', 'Pro Nature cornflakes', 'Pure and Sure wheat flour', 'Pure and Sure honey', 'Pure and Sure fruits', 'Pure and Sure grains', 'Pure and Sure essential oils', 'Pure and Sure gram flour', 'Pure and Sure foxnut', 'Pure and Sure biscuits', 'Pure and Sure oats', 'Pure and Sure cornflakes']

In [14]:
# framing the product_master table 

product_master = pd.DataFrame(columns=product_fields, index=range(1,101))
Faker.seed(42)
# Initializing variables
prev_rate = 0

# Loop to populate the DataFrame with products from the product list 
for i in range(1, 101):
    product_master.at[i, 'productid'] = i
    product_master.at[i, 'productname'] = productlist[(i - 1) // 2]  
    
    if i % 2 != 0:  
        # '?' for adding a letter 
        # and '#' for adding a number
        product_master.at[i, 'productcode'] = fake.bothify('?##', letters='ABCDEF')
        product_master.at[i, 'sku'] = str(fake.random_int(min=1, max=5)) + fake.bothify('?', letters=['kg'])
    else:
        product_master.at[i, 'productcode'] = fake.bothify('?##', letters='GHIJKL')
        product_master.at[i, 'sku'] = str(fake.random_int(min=6, max=10)) + fake.bothify('?', letters=['kg'])
        prev_rate += fake.random_int(min=500, max=1000)

    product_master.at[i, 'rate'] = prev_rate + fake.random_int(min=500, max=1000)
    product_master.at[i, 'isactive'] = fake.boolean(chance_of_getting_true=75)

# To ensure that rate is numeric
product_master['rate'] = pd.to_numeric(product_master['rate'], downcast='integer')

In [15]:
product_master.nunique()

productid      100
productcode     95
productname     50
sku             10
rate           100
isactive         2
dtype: int64

In [36]:
product_master.dtypes

productid      object
productcode    object
productname    object
sku            object
rate            int32
isactive       object
dtype: object

In [16]:
product_master.head()

  productid productcode      productname   sku  rate isactive
1         1         F10  HUL wheat flour   3kg   614     True
2         2         G18  HUL wheat flour  10kg  1031     True
3         3         E33        HUL honey   5kg  1303     True
4         4         H86        HUL honey   9kg  2375     True
5         5         C26       HUL fruits   3kg  2040    False

### Order Details

In [17]:
# defining the fields/columns in the order_details table

order_details_fields = ['orderid','customerid','order_status_update_timestamp','order_status']

In [18]:
# Creating 3 table for orders dividing them into three categories based on their order_statuses

orders_Received = pd.DataFrame(columns=order_details_fields, index = range(1,20001))
orders_inProgress = pd.DataFrame(columns=order_details_fields, index = range(1,20001))
orders_Delivered = pd.DataFrame(columns=order_details_fields, index = range(1,20001))

In [19]:
# generating 20000 orders in each of the 3 tables

for i in range(1,20001):
    orders_Received['orderid'][i]=i
    orders_Received['customerid'][i]=fake.random_element(customer_master['customerid'])
    orders_Received['order_status_update_timestamp'][i]=fake.date_time_this_year()
    orders_Received['order_status']='Received'
    
for i in range(1,20001):
    orders_inProgress['orderid'][i]=i
    orders_inProgress['customerid'][i]=orders_Received['customerid'][i]
    orders_inProgress['order_status_update_timestamp'][i]=orders_Received['order_status_update_timestamp'][i]+timedelta(seconds=fake.random_int(min=1, max=86400))
    orders_inProgress['order_status'][i]='InProgress'
    
for i in range(1,20001):
    orders_Delivered['orderid'][i]=i
    orders_Delivered['customerid'][i]=orders_Received['customerid'][i]
    orders_Delivered['order_status_update_timestamp'][i]=orders_inProgress['order_status_update_timestamp'][i]+timedelta(seconds=fake.random_int(min=1, max=86400))
    orders_Delivered['order_status'][i]='Delivered'

In [20]:
# forming a single table using the previously formed 3 tables 

order_details = pd.concat([orders_Received, orders_inProgress, orders_Delivered])

In [21]:
# sorting the values of the order_details table by the 'orderid'

order_details.sort_values(by=["orderid"])

      orderid customerid order_status_update_timestamp order_status
1           1        590           2023-09-21 01:20:03     Received
1           1        590           2023-09-21 05:43:22   InProgress
1           1        590           2023-09-21 06:45:07    Delivered
2           2        930           2023-05-26 18:06:51     Received
2           2        930           2023-05-27 02:55:41   InProgress
...       ...        ...                           ...          ...
19999   19999        228           2023-09-26 09:04:54     Received
19999   19999        228           2023-09-26 11:12:08   InProgress
20000   20000        200           2023-06-14 06:59:16   InProgress
20000   20000        200           2023-06-13 17:31:09     Received
20000   20000        200           2023-06-14 18:42:52    Delivered

[60000 rows x 4 columns]

In [22]:
# checking the for the unique orders 

len(order_details['orderid'].unique())

20000

### Order Items

In [23]:
# defining the fields/columns for the order_items table

order_item_fields = ['orderid','productid','quantity']

In [24]:
# framing the order_items table

order_items = pd.DataFrame(columns=order_item_fields, index = range(0,50000))

In [25]:
# Define the number of orders
num_orders = 20000

# Initializing lists to store data
order_id = []
product_id = []
quantity = []

# Generating data for order_items
for i in range(1, num_orders + 1):
    num_products = random.randint(1, 10)  # Random number of products per order
    
    # Generating a random list of unique product IDs
    available_products = list(range(1, 51))
    selected_products = random.sample(available_products, num_products)
    
    # Generating random quantities for each selected product
    for product in selected_products:
        order_id.append(i)
        product_id.append(product)
        quantity.append(random.randint(1, 10))

# Creating the order_items DataFrame
order_items = pd.DataFrame({'orderid': order_id, 'productid': product_id, 'quantity': quantity})

In [26]:
# sorting the order_items table by using the orderid

order_items.sort_values(by=['orderid'])

        orderid  productid  quantity
0             1          2         5
1             1         48         4
2             2          9         9
3             2         48         2
4             2          7        10
...         ...        ...       ...
110014    19999         43         3
110015    19999         46         4
110017    19999         14         9
110018    20000         39         7
110019    20000         21         9

[110020 rows x 3 columns]

In [27]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\amrit.kumar\appdata\local\anaconda3\lib\site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [28]:
customer_master.to_csv('customer_master.csv', index=False, header=False)

In [29]:
product_master.to_csv('product_master.csv', index=False, header=False)

In [30]:
order_details.to_csv('order_details.csv', index=False, header=False)

In [31]:
order_items.to_csv('order_items.csv', index=False, header=False)