In [1]:
# installing faker using pip to generate the data

# pip install faker

In [2]:
# importing Faker from faker library

from faker import Faker
fake = Faker('en_IN')

In [10]:
#importing the required liabraries

import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import datetime as dt
import random

In [4]:
import psycopg2

#establishing the connection
conn = psycopg2.connect(
   database="amritdb", user='root', password='amritkumar477', host='34.131.239.156', port= '5432'
)

In [5]:
id1 = pd.read_sql(f'''select count(*) from customer_master ''',conn)

C:\Users\amrit.kumar\AppData\Local\Temp\ipykernel_27112\3040458149.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  id1 = pd.read_sql(f'''select count(*) from customer_master ''',conn)

In [6]:
val = id1['count'][0]

In [7]:
# defining the fields/columns of the customer_master table

customer_fields = ['customerid', 'name', 'address', 'city', 'state', 'pincode', 'update_timestamp']

In [8]:
#list of states and the respective cities in which the company is operating

states = {
           'Karnataka'      : ['Bengaluru', 'Mangaluru', 'Mysuru', 'Raichur'],
           'Maharashtra'    : ['Ahmednagar', 'Mumbai', 'Nagpur', 'Pune'],
           'Odisha'         : ['Bhubaneswar', 'Cuttack', 'Rourkela'],
           'Tamil Nadu'     : ['Chennai', 'Coimbatore', 'Madurai'],
           'Telangana'      : ['Hyderabad', 'Nizamabad', 'Warangal'],
           'Uttar Pradesh'  : ['Agra', 'Kanpur', 'Lucknow']
    
}

### Customer Table

In [11]:
# defining the customer_master table
Customer_master = pd.DataFrame(columns=customer_fields,index=range(1,1001))

Faker.seed(10)

val+=1
for i in range(1,1001):
    Customer_master['customerid'][i] = val
    val+=1
    
#     customer_name is generated 
    Customer_master['name'][i] = fake.name()
    
#     customer_address is generated
    Customer_master['address'][i] = fake.street_address()
    
#     state being generated randomly from the states dictionary
    Customer_master['state'][i] = fake.random_element(states.keys())
    
#     city being generated from the dictionary
    Customer_master['city'][i] = fake.random_element(states[Customer_master['state'][i]])
    
#     postcode generated from the cities
    Customer_master['pincode'][i] = fake.postcode()
    
#     timestamp from this year
    Customer_master['update_timestamp'][i] = dt.datetime.today()+timedelta(seconds=fake.random_int(min=1, max=86400))

In [32]:
Customer_master.head()

,customerid,name,address,city,state,pincode,update_timestamp
1,1003,Aaryahi Khurana,"774, Badal Street",Nizamabad,Telangana,135062,2023-10-12 01:42:47.746634
2,1004,Vaibhav Kade,47/245\nKari Street,Pune,Maharashtra,090323,2023-10-11 14:46:42.748556
3,1005,Trisha Yadav,"H.No. 87, Keer Marg",Mysuru,Karnataka,363007,2023-10-11 14:43:00.749555
4,1006,Hazel Varma,"695, Borde",Bengaluru,Karnataka,235667,2023-10-11 12:41:21.750556
5,1007,Hridaan Ranganathan,"H.No. 474, Sahota Street",Agra,Uttar Pradesh,755630,2023-10-11 23:35:20.752556

### Order Details

In [12]:
# pip install timedelta

In [13]:
from datetime import datetime, timedelta

In [14]:
# defining the fields/columns in the order_details table

order_details_fields = ['orderid','customerid','order_status_update_timestamp','order_status']

In [15]:
# Creating 3 table for orders dividing them into three categories based on their order_statuses

orders_Received = pd.DataFrame(columns=order_details_fields, index = range(1,5001))
orders_InProgress = pd.DataFrame(columns=order_details_fields, index = range(1,5001))
orders_Delivered = pd.DataFrame(columns=order_details_fields, index = range(1,5001))
val = id1['count'][0]

In [16]:
id1 = pd.read_sql(f'''select count(*) from order_details''',conn)

C:\Users\amrit.kumar\AppData\Local\Temp\ipykernel_27112\4277416105.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  id1 = pd.read_sql(f'''select count(*) from order_details''',conn)

In [17]:
val = id1['count'][0]//3
val+=1 
#for order status recieved
for i in range(1, 5001):
    orders_Received['orderid'][i] = val
    orders_Received['customerid'][i] = fake.random_element(Customer_master['customerid'])
    orders_Received['order_status_update_timestamp'][i] = dt.datetime.today()+timedelta(seconds=fake.random_int(min=1, max=86400))
    orders_Received['order_status'] = 'Received'
    val+=1

#for order status InProgress
val = id1['count'][0]//3
val+=1
for i in range(1, 5001):
    orders_InProgress['orderid'][i] = val
    orders_InProgress['customerid'][i] = orders_Received['customerid'][i]
    orders_InProgress['order_status_update_timestamp'][i] = orders_Received['order_status_update_timestamp'][i]
    orders_InProgress['order_status'] = 'InProgress'
    val+=1

#for order status Delivered
val = id1['count'][0]//3
val+=1
for i in range(1, 5001):
    orders_Delivered['orderid'][i] = val
    orders_Delivered['customerid'][i] = orders_Received['customerid'][i]
    orders_Delivered['order_status_update_timestamp'][i] = orders_InProgress['order_status_update_timestamp'][i]
    orders_Delivered['order_status'] = 'Delivered'
    val+=1

In [19]:
# forming a single table using the previously formed 3 tables 

order_details = pd.concat([orders_Received, orders_InProgress, orders_Delivered])

In [20]:
#sort by order_id
order_details = order_details.sort_values(by=['orderid'])
order_details.head(10)

  orderid customerid order_status_update_timestamp order_status
1   20001       1748    2023-10-11 11:52:06.701701     Received
1   20001       1748    2023-10-11 11:52:06.701701   InProgress
1   20001       1748    2023-10-11 11:52:06.701701    Delivered
2   20002       1992    2023-10-11 06:27:46.708385     Received
2   20002       1992    2023-10-11 06:27:46.708385   InProgress
2   20002       1992    2023-10-11 06:27:46.708385    Delivered
3   20003       1374    2023-10-11 06:30:56.710341     Received
3   20003       1374    2023-10-11 06:30:56.710341   InProgress
3   20003       1374    2023-10-11 06:30:56.710341    Delivered
4   20004       1049    2023-10-11 16:36:43.712344     Received

In [21]:
order_details['orderid'] = order_details['orderid'].astype(int)
order_details['customerid'] = order_details['customerid'].astype(int)

In [22]:
order_details.dtypes

orderid                           int32
customerid                        int32
order_status_update_timestamp    object
order_status                     object
dtype: object

### Order Items

In [23]:
# defining the fields/columns for the order_items table

order_item_fields = ['orderid','productid','quantity']

In [24]:
#because we've 5000 order_id

order_id =[]
productid = []
qnty = []
val = id1['count'][0]//3
for i in range(1,5001):
    #we can have 50 product_ids
    val+=1
    x = list(range(1, 51))
    #we can have 1 or 2 orders per order_id
    for j in range(0, random.randint(1,2)):
        order_id.append(val)
        productid.append(random.choice(x))
        qnty.append(random.randint(1,5))
        
order_items = pd.DataFrame(list(zip(order_id,productid,qnty)),columns=['orderid','productid','quantity'])

In [25]:
order_items.sort_values(by=['orderid'])

      orderid  productid  quantity
0       20001         31         1
1       20001         30         4
2       20002         42         3
3       20003         26         1
4       20004          7         2
...       ...        ...       ...
7522    24998          9         4
7521    24998         12         3
7523    24999         48         5
7524    25000         31         4
7525    25000         20         2

[7526 rows x 3 columns]

In [26]:
order_items.head(10)

   orderid  productid  quantity
0    20001         31         1
1    20001         30         4
2    20002         42         3
3    20003         26         1
4    20004          7         2
5    20005         11         2
6    20006         20         2
7    20007         21         5
8    20007          2         4
9    20008          3         3

In [27]:
order_items.dtypes

orderid      int64
productid    int64
quantity     int64
dtype: object

In [28]:
# pip install psycopg2

In [29]:
import psycopg2

#establishing the connection
conn = psycopg2.connect(
   database="amritdb", user='root', password='amritkumar477', host='34.131.239.156', port= '5432'
)
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

In [30]:
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("postgresql://root:amritkumar477@34.131.239.156/amritdb")